body {
    border: none;
    position: absolute; top: 50%; left: 50%; margin: -300px 0 0 -500px
}

.content_video {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    text-align: center;
    background-image: url(../player/background.png); 
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(0, 0, 0);
}
#video_on { 
    background: #000;
}

video {
    width: 800px;
    height: 450px;
    margin: 35px 0 0 0;
}
iframe {
    width: 800px;
    height: 450px;
    margin: 35px 0 0 0;
}
a {
    background: none;
    border: none;
    margin: 0;
    padding: 0;}

a:visited, a:active, a:hover {
    text-decoration: none;}

.bt_pequeno {
    margin-bottom: 30px;}

#play, #play-button {
    width: 87px;
    height: 95px;
    cursor: pointer;
}

#offline_placeholder {
    z-index: 20000; 
    position: absolute;
    left: 98px; top: 35px;
}

#pause, #pause-button {
    width: 62px;
    height: 60px;
    cursor: pointer;
}

.skip {
    width: 66px;
    height: 61px;
    cursor: pointer;
}

.online, .offline {
    display: none;
}